<%- include("header") -%>

<h2>About page</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab exercitationem maiores illo. Modi, ipsam necessitatibus?
    Exercitationem ad dolores corporis sunt?</p>

<%- include("footer") -%>